<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/css/home.css">
    <title>Dev Bets - Home</title>
</head>
<body>
    <section class="header">
        <h1 class="tittle-header">Olá <%= nameUser %></h1>
        <p class="description-header">Comece suas apostas</p>
    </section>

    <section class="main">
        <form action="/betsresult" method="POST" class="formBet">
            <h2 class="tittle-form">Iniciar apostas</h2>
            <p class="moneyUser">
               
            </p>
            <p class="description-form">Escolha um número de 0 a 100</p>
            <label for="">Em qual número você aposta?</label>
            <input type="text" class="numberBet" name="numberBet">
            <label for="">Qual valor você deseja apostar? </label>
            <p class="descriptionValue">(Você inicia com o valor de 30 moedas).</p>
            <input type="text" class="valueUser" name="valueUser">
            <button type="submit" class="initialBet">Apostar</button>
            <p class="resUser">

            </p>

            <p class="resBets">

            </p>
        </form>

    </section>

    <section class="footer">
        <p   class="description-footer">Developed by <a href="#">Vinicius Soares</a></p>
    </section>


    <script src="/public/assets/js/home.js"></script>
</body>
</html>