<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/css/login.css">
    <title>Dev Bets</title>
</head>
<body>
    <section class="header">
        <h1 class="tittle-header">Dev Bets</h1>
        <p class="description-header">o conteúdo desse site é apenas para fins estudantis e não envolve apostas reais.</p>
    </section>

    <section class="container">
        <form action="/home" method="POST" class="formLogin">
            <h2>Crie sua conta:</h2>
            <label for="">Digite seu nome:</label>
            <input type="text" class="name" name="nameInput">
            <label for="">Digite seu e-mail:</label>
            <input type="email" class="email" name="emailInput">
            <label for="">Crie uma senha:</label>
            <input type="password" class="password" name="passwordInput">
            <button type="submit" class="btnInput">Cadastrar</button>
            <p class="statusForm">
        
            </p>
        </form>
    </section>

    <section class="footer">
        <p class="description-footer">
            Developed by <a href="#">Vinicius Soares</a>
        </p>
    </section>

    <script src="/public/assets/js/login.js"></script>
</body>
</html>